/* Flex Box Styles */
.overlay {
    /* Position absolute and box models do not work under gecko */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.overlay-box {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;

    width: 100%;
    height: 100%;
}
.overlay-header {
    /* These values are defaults per the specification. Including for demonstrational purposes */
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
}
.overlay-content {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    overflow: auto;

    /* This is a hack to force gecko to implement the desired behavior */
    min-height: 1px;
}

/* General UI Styling */
.frame {
    position: relative;
    width: 500px;
    margin: 25px 0px 25px 262px;
    overflow: hidden;
}
.overlay {
    background-image: url(../images/translucent-background.png);
}
.overlay-header {
    background-color: #83ADC8;
    color: black;
}
.content-image {
    /* This is specific to the image in use to maintain the proper aspect ratio */
    width: 100%;
    height: auto;
}
